.profilePageContainer {
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 80px;

    .containerProfile {

        .leftCol {
            padding: 0 40px;

            img {
                width: 100%;
                margin-bottom: 40px;
            }
            
            .heading {
                display: flex;
                align-items: center;
                hr {
                    flex-grow: 1;
                    margin-left: 5px;
                    background: transparent;
                    box-shadow: unset;
                    border-color: #ddd5d5;
                    margin-top: 22px;
                    border-bottom-width: 1px;
                    border-top-width: 0;
                    border-left-width: 0;
                    border-right-width: 0;
                }
            }
            .workContainter {
                h1 {
                    color: #4d535b;
                    display: inline;
                    line-height: initial;
                    font-size: 20px;
                    margin-bottom: 0;
                    margin-right: 10px;
                }
                .placeName{
                    display: flex;
                    align-items: center;
                    :global(.ant-btn){
                        margin-top: 0;
                    }
                }
                .btnPeriorityStyle {
                    background-color: #ddedfb;
                    color: #6b99bf;
                    float: right;
                    border: none;
                    margin-top: 10px;
                }

                .addressContainer {
                    margin: 20px 0;

                    .workAddress {
                        padding: 0;
                        margin: 0;
                        font-size: large;
                    }
                }
            }

            .skillContainer {
                padding-bottom: 40px;
            
                .skillsList {
                    color: hsl(214, 8%, 33%);
                    line-height: initial;
                    font-weight: bold;
                }
            }
        }

        
        .rightCol {
            padding: 0px 40px;

            .bookmarkCol {
                img {
                    width: 25px;
                    display: inline;
                    margin-top: -5px;
                }
                
                h4 {
                    color: #AEAEAE;
                    display: inline;
                    font-size: 22px;
                    font-weight: bold;
                }
            }
        
        
        
            .rightInnerCol {

                
                .profileTitle {
                    color: hsl(214, 8%, 33%);
        
                    h1 {
                        display: inline;
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 25px;
                    }
                    .userLocation {
                        margin-top: 6px;

                        img {
                            width: 20px;
                            margin-top: -10px;
                        }
                        span {
                            color: #AEAEAE;
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                   
        
                    h6 {
                        font-weight: 500;
                        font-size: 24px;
                        color: #638AB4;
                    }
        
                }

                .rating {
                    .ratingValue {
                        display: inline;
                        font-size: 20px;
                        margin-right: 10px;
                    }

                    .rate {
                        display: inline;
                        margin-top: -5px;
                        
                    }
                }

                .cardsInfo {
                    text-align: center;
                    margin-top: 50px;
                    :nth-child(1) {
                        font-weight: 600;
                        text-align: left;

                       
                    }
                    :nth-child(2) {
                        background-color: #D9ECF6;
                    }
                    :nth-child(3) {
                        color: #AEAEAE;
                    }
                    @media (max-width: 992px) {
                        :nth-child(1) {
                            text-align: center !important ;
                        }
                    }
                }

                .InfoArea {

                    margin: 60px 0;

                    .contactInfo {
                        .isLink {
                            color: #7396C5;
                        }
                        :nth-child(1) {
                            color: #4d535b;
                        }
                        .notLink {
                            color: #4d535b;
                        }
                    }

                }

                
            }
        
        }
    }

    :global(.ant-col) {
        background-color: #ffffff;
    }
}
.headerTop {
    padding: 20px 0;
    background-color: #fff;
    .search {
        :global(.ant-input-affix-wrapper) {
            padding: 10px 10px;
        }
    }
    :global(.ant-menu) {
        border-bottom: 0px solid;
        justify-content: flex-end;
    }
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 476px) {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
    }
    @media (min-width: 768px) {
        padding-right: 15px;
        padding-left: 15px;
        width: 720px;
        max-width: 100%;
    }
    @media (min-width: 992px) {
        padding-right: 15px;
        padding-left: 15px;
        width: 960px;
        max-width: 100%;
    }
    @media (min-width: 1200px) {
        padding-right: 15px;
        padding-left: 15px;
        width: 1140px;
        max-width: 100%;
    }

    @media (min-width: 1400px) {
        width: 1340px;
        max-width: 100%;
    }
}

