.profilePageContainer {
    border-top: 2px solid #ededed;
    width: 100%;
    // height: 1000px max-content;
    // padding: 80px;
    padding-bottom: 80px;

    .firstCol {
        border: 2px solid blue;
        padding: 0px 50px;

        img {
            width: 100%;
            margin-bottom: 40px;
        }
        .heading {
            display: flex;
            align-items: center;
            hr {
                flex-grow: 1;
                margin-left: 5px;
                background: transparent;
    box-shadow: unset;
    border-color: #ddd5d5;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
            }
        }
        .workContainter {
            h1 {
                color: #4d535b;
                display: inline;
                line-height: initial;
                font-size: 20px;
                margin-bottom: 0;
                margin-right: 10px;
            }
            .placeName{
                display: flex;
                align-items: center;
                :global(.ant-btn){
                    margin-top: 0;
                }
            }
            .btnPeriorityStyle {
                background-color: #ddedfb;
                color: #6b99bf;
                float: right;
                border: none;
                margin-top: 10px;
            }

            .addressContainer {
                margin: 20px 0;

                .workAddress {
                    padding: 0;
                    margin: 0;
                    font-size: large;
                }
            }
        }

        .skillsList {
            color: hsl(214, 8%, 33%);
            line-height: initial;
            font-weight: bold;
        }
    }
}
.headerTop {
    padding: 20px 0;
    background-color: #fff;
    .search {
        :global(.ant-input-affix-wrapper) {
            padding: 10px 10px;
        }
    }
    :global(.ant-menu) {
        border-bottom: 0px solid;
        justify-content: flex-end;
    }
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 476px) {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
    }
    @media (min-width: 768px) {
        padding-right: 15px;
        padding-left: 15px;
        width: 720px;
        max-width: 100%;
    }
    @media (min-width: 992px) {
        padding-right: 15px;
        padding-left: 15px;
        width: 960px;
        max-width: 100%;
    }
    @media (min-width: 1200px) {
        padding-right: 15px;
        padding-left: 15px;
        width: 1140px;
        max-width: 100%;
    }

    @media (min-width: 1400px) {
        width: 1340px;
        max-width: 100%;
    }
}
